section{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: #D9D9D9;

  ul li{
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  .loc{
    display: flex;
    max-width: 250px;
  }
}

.rights{
  color: rgba(0, 0, 0, 0.247);
  div{
    display: flex;
    a{
      color: var(--blue-color);
      font-weight: bolder;
    }
  }
}
