<footer>
  <section>
    <div>
      <h3>Contato</h3>
      <ul>
        <li><img src="../../../assets/imgs/icons/tel2.png" alt="Telefone"><p>(31) 98232-3388 - Wesley</p></li>
        <li><img src="../../../assets/imgs/icons/tel.png" alt="Telefone"><p>(33) 98448-9948 - Lucas</p></li>
        <li><img src="../../../assets/imgs/icons/email.png" alt="Telefone"><p>cervejariauppsala@gmail.com</p></li>
        <li><img src="../../../assets/imgs/icons/insta.png" alt="Telefone"><p>@cervejariauppsala</p></li>
      </ul>
    </div>
    <div>
      <h3>Horario de atendimento</h3>
      <p>Quarta a Sábado das 19:00 as 00:00</p>
      <p>Domingo das 13:00 as 21:00</p>
      <img src="../../../assets/imgs/LOGOS FINAL_SELO B 1.png" alt="Logo Uppsala">
    </div>
    <div>
      <h3>Venha celebrar com a gente</h3>
      <p><img src="../../../assets/imgs/icons/localizacao.png" alt="Localização">R. Geraldo Pereira, 395 - Pouso Alegre,<br> Manhuaçu - MG, 36904-079</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.770038099483!2d-42.02699775179329!3d-20.25563888569409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbafd94ba081995%3A0xd71dc05155b4b7d5!2sCervejaria%20Uppsala!5e0!3m2!1spt-BR!2sbr!4v1684872350138!5m2!1spt-BR!2sbr" width="100%" height="300" style="border-radius: 10px; border: 0; border-color: rgba(0, 0, 0, 0.295);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
  <section id="rights">
    <p>Todos os direitos reservados a cervejaria uppsala 2023</p>
    <p>Made by <a href="https://www.imdesenv.com" target="_blank">IM software</a></p>
  </section>
</footer>
