<footer>
  <section>
    <div>
      <app-typography element="h3" text="Contato"></app-typography>
      <ul>
        <li><i class="fa-solid fa-phone" style="color: green"></i><app-typography element="p" text="(31) 98232-3388 - Wesley"></app-typography></li>

        <li><i class="fa-solid fa-phone"></i><app-typography element="p" text="(33) 98448-9948 - Lucas"></app-typography></li>

        <li><i class="fa-solid fa-envelope" style="color: var(--blue-color)"></i><app-typography element="p" text="cervejariauppsala@gmail.com"></app-typography></li>

        <li><i class="fa-brands fa-instagram"></i><app-typography element="p" text="@cervejariauppsala"></app-typography></li>
      </ul>
    </div>
    <div>
      <app-typography element="h3" text="Horario de atendimento"></app-typography>
      <app-typography element="p" text="Quarta a Sábado das 19:00 as 00:00"></app-typography>
      <app-typography element="p" text="Domingo das 13:00 as 21:00"></app-typography>
      <img src="../../../assets/imgs/LOGOS FINAL_SELO B 1.png" alt="Logo Uppsala">
    </div>
    <div>
      <app-typography element="h3" text="Venha celebrar com a gente"></app-typography>
      <div class="loc">
        <i class="fa-sharp fa-solid fa-map-pin" style="color: red;"></i><app-typography element="p" text="R. Geraldo Pereira, 395 - Pouso Alegre, Manhuaçu - MG, 36904-079"></app-typography>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1573.770038099483!2d-42.02699775179329!3d-20.25563888569409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbafd94ba081995%3A0xd71dc05155b4b7d5!2sCervejaria%20Uppsala!5e0!3m2!1spt-BR!2sbr!4v1684872350138!5m2!1spt-BR!2sbr" width="100%" height="300" style="border-radius: 10px; border: 0; border-color: rgba(0, 0, 0, 0.295);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
  <section class="rights">
    <div>
      <app-typography element="p" text="Todos os direitos reservados a cervejaria uppsala 2023."></app-typography>
    </div>
    <div>
      <app-typography element="p" text="Made by"></app-typography>
      <a href="https://www.imdesenv.com" target="_blank">
        <app-typography element="p" text="IM software"></app-typography>
      </a>
    </div>
  </section>
</footer>
