nav{
  width: 100%;
  font-family: var(--primary-font);
  color: white;
  font-weight: bolder;
  font-size: 17px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;

  .logo img {
    margin-left: 50px;
    width: 250px;
  }

  ul{
    display: flex;
    padding: 30px;

    a{
      color: white;
      margin-left: 30px;

      :hover{
        color: var(--secondary-color);
        transition: 0.25s;
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    justify-content: center;
    padding: 0;

    .logo img {
      margin: 0;
    }

    ul {
      display: none;
    }
  }
}
