<app-header></app-header>
<div class="background-image">
  <app-typography element="h1" text="Skal !"></app-typography>
</div>
<section class="about" id="about">
  <div>
    <img src="../../assets/imgs/REDES SOCIAIS_INSTA 2 1.png" alt="Imagem empresa">
  </div>
  <div class="text">
      <div class="title">
        <app-typography element="h2" text="Sobre nossa marca"></app-typography>
      </div>
      <div class="p">
        <app-typography element="p" text="A CERVEJARIA UPPSALA é uma cervejaria inspirada na cultura nórdica (Viking). Uppsala era o templo sagrado para os vikings, o propósito da cervejaria é ser um lugar que proporcione encontros e experiências marcantes na vida dos guerreiros, como Uppsala era para os vikings."></app-typography><br>
        <app-typography element="p" text="
        Que a CERVEJARIA UPPSALA seja um lugar para descontrair e apreciar boas cervejas e celebrar a VIDA! A CERVEJARIA terá um brinde de origem Viking. Ao brindar, eles repetiam a expressão &quot;SKAL&quot;, que significa amizade e novas conexões, na tradução literal é saúde e prosperidade. Então, um brinde aos nobres guerreiros, SKAL!"></app-typography>
      </div>
  </div>
</section>
<section class="drinks" id="drinks">
  <div class="header">
    <div>
      <app-typography element="h2" text="Nossas cervejas"></app-typography>
      <app-typography element="p" class="subttitle" text="Ps: Temos muito mais opções no nosso salão"></app-typography>
    </div>
  </div>

  <div class="body">
    <div class="beers">
        <div class="beer" *ngFor="let beer of beers; let i = index" (click)='clickBeer(i)'>
          <h3>{{beer.name}}</h3>
          <img src="../../assets/imgs/cervejas/{{beer.name}}.png" alt="{{beer.name}}">
        </div>
    </div>

    <div class="beer-about">
      <div class="beer-header">
        <app-typography element="h3" text="Saiba mais sobre a cerveja"></app-typography>
      </div>
      <div class="beer-body">
        <h3>{{beers[selectedBeerIndex].name}}</h3>
        <div class="beer-info">
          <div class="description">
            <app-typography element="p" text="{{beers[selectedBeerIndex].description}}"></app-typography>
          </div>
          <div class="content">
            <div class="ibu">
              <app-typography element="h2" text="{{beers[selectedBeerIndex].ibu}}" class="red"></app-typography>
              <div>
                <app-typography element="p" text="Abv% ( Teor alcólico )"></app-typography>
              </div>
            </div>
            <div class="abv">
              <app-typography element="h2" text="{{beers[selectedBeerIndex].abv}}" class="red"></app-typography>
              <img src="../../assets/imgs/hops-svgrepo-com 1.png" alt="abv">
              <div>
                <app-typography element="p" text="Ibu ( Amargor )"></app-typography>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="beers-carousel">
      <div class="arrow"><i class="fa-solid fa-arrow-left" (click)="beforeBeer()" *ngIf="showLeftArrow"></i></div>
      <div class="beer">
        <img src="../../assets/imgs/cervejas/{{beers[selectedBeerIndex].name}}.png" alt="{{beers[selectedBeerIndex].name}}">
      </div>
      <div class="arrow"><i class="fa-solid fa-arrow-right" (click)="nextBeer()" *ngIf="showRightArrow"></i></div>
    </div>

  </div>
  <div class="click">
    <app-typography element="p" text="Clique no copo para saber mais." class="click"></app-typography>
  </div>
</section>
<section class="hall" id="hall">
  <div class="info">
    <div class="text">
      <div>
        <app-typography element="h2" text="Nosso salão"></app-typography>
      </div>
      <div>
        <app-typography element="p" text="Nosso salão temático foi totalmente modelado para seu conforto e entertenimento, com um espaço amplo, comida boa e claro, com as melhores cervejas. Venham conhecer o espaço, temos certeza que irão gostar" id="p"></app-typography>
      </div>
    </div>
    <div class="img">
      <img src="../../assets/imgs/salaofotos.png" alt="Hall">
    </div>
  </div>
  <div class="happy-hour">
    <div class="img">
      <img src="../../assets/imgs/@cervejariauppsala 1.png" alt="Happy hour">
    </div>
    <div class="text">
      <img src="../../assets/imgs/LOGOS FINAL_SEM RUIDO SELO 1.png" alt="Logo Uppsala">
      <app-typography element="h2" text="O melhor happy hour da cidade"></app-typography>
      <app-typography element="p" text="Descontos em bebidas, muita música e diversão, aqui você encontra o melhor happy hour de Manhuaçu!"></app-typography>
    </div>
  </div>
</section>
<app-footer id="contact"></app-footer>
