<app-header></app-header>
<div class="background-image">
  <app-typography element="h1" text="Skal !"></app-typography>
</div>
<section class="about" id="about">
  <div>
    <picture>
      <img src="../../assets/imgs/REDES SOCIAIS_INSTA 2 1.webp" width="508px" height="558px" alt="Imagem empresa">
    </picture>
  </div>
  <div class="text">
      <div class="title">
        <app-typography element="h2" text="Sobre nossa marca"></app-typography>
      </div>
      <div class="p">
        <app-typography element="p" text="A CERVEJARIA UPPSALA é uma cervejaria inspirada na cultura nórdica (Viking). Uppsala era o templo sagrado para os vikings, o propósito da cervejaria é ser um lugar que proporcione encontros e experiências marcantes na vida dos guerreiros, como Uppsala era para os vikings."></app-typography><br>
        <app-typography element="p" text="
        Que a CERVEJARIA UPPSALA seja um lugar para descontrair e apreciar boas cervejas e celebrar a VIDA! A CERVEJARIA terá um brinde de origem Viking. Ao brindar, eles repetiam a expressão &quot;SKAL&quot;, que significa amizade e novas conexões, na tradução literal é saúde e prosperidade. Então, um brinde aos nobres guerreiros, SKAL!"></app-typography>
      </div>
  </div>
</section>
<section class="drinks" id="drinks">
  <div class="header">
    <div>
      <app-typography element="h2" text="Nossas cervejas"></app-typography>
      <app-typography element="p" class="subttitle" text="Ps: Temos muito mais opções no nosso salão"></app-typography>
    </div>
  </div>

  <div class="body">
    <div class="beers">
        <div class="beer" *ngFor="let beer of beers; let i = index" (click)='clickBeer(i)'>
          <h3>{{beer.name}}</h3>
          <picture>
            <img src="../../assets/imgs/cervejas/{{beer.name}}.webp" width="154px" height="315px" alt="{{beer.name}}">
          </picture>
        </div>
    </div>

    <div class="beer-about">
      <div class="beer-header">
        <app-typography element="h3" text="Saiba mais sobre a cerveja"></app-typography>
      </div>
      <div class="beer-body">
        <h3>{{beers[selectedBeerIndex].name}}</h3>
        <div class="beer-info">
          <div class="description">
            <app-typography element="p" text="{{beers[selectedBeerIndex].description}}"></app-typography>
          </div>
          <div class="content">
            <div class="ibu">
              <app-typography element="h2" text="{{beers[selectedBeerIndex].ibu}}" class="red"></app-typography>
              <div>
                <app-typography element="p" text="Abv% ( Teor alcólico )"></app-typography>
              </div>
            </div>
            <div class="abv">
              <app-typography element="h2" text="{{beers[selectedBeerIndex].abv}}" class="red"></app-typography>
              <picture>
                <img src="../../assets/imgs/hops-svgrepo-com 1.webp" alt="abv">
              </picture>
              <div>
                <app-typography element="p" text="Ibu ( Amargor )"></app-typography>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="beers-carousel">
      <div class="arrow"><fa-icon [icon]="faarrowleft" (click)="beforeBeer()" *ngIf="showLeftArrow"></fa-icon></div>
      <div class="beer">
        <picture>
          <img src="../../assets/imgs/cervejas/{{beers[selectedBeerIndex].name}}.webp" alt="{{beers[selectedBeerIndex].name}}">
        </picture>
      </div>
      <div class="arrow"><fa-icon [icon]="faarrowrigth" (click)="nextBeer()" *ngIf="showRightArrow"></fa-icon></div>
    </div>

  </div>
  <div class="click">
    <app-typography element="p" text="Clique no copo para saber mais." class="click"></app-typography>
  </div>
</section>
<section class="hall" id="hall">
  <div class="info">
    <div class="text">
      <div>
        <app-typography element="h2" text="Nosso salão"></app-typography>
      </div>
      <div>
        <app-typography element="p" text="Nosso salão temático foi totalmente modelado para seu conforto e entertenimento, com um espaço amplo, comida boa e claro, com as melhores cervejas. Venham conhecer o espaço, temos certeza que irão gostar" id="p"></app-typography>
      </div>
    </div>
    <div class="img">
      <picture>
        <img src="../../assets/imgs/salaofotos.webp" width="782px" height="499px" alt="Salão fotos">
      </picture>
    </div>
  </div>
  <div class="happy-hour">
    <div class="img">
      <picture>
        <img src="../../assets/imgs/cervejariauppsala 1.webp" width="505px" height="644px" alt="Happy hour">
      </picture>
    </div>
    <div class="text">
      <picture>
        <img src="../../assets/imgs/LOGOS FINAL_SEM RUIDO SELO 1.webp" width="196px" height="186px" alt="Logo Uppsala">
      </picture>
      <app-typography element="h2" text="O melhor happy hour da cidade"></app-typography>
      <app-typography element="p" text="Descontos em bebidas, muita música e diversão, aqui você encontra o melhor happy hour de Manhuaçu!"></app-typography>
    </div>
  </div>
</section>
<app-footer id="contact"></app-footer>
